form {
    max-width: 400px;
    margin: 0 7vw 0 0;
    padding: 30px;
    background-color: #0005;
    border-radius: 8px;
    box-shadow: 0 0 10px #000c;
}

.h2_form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input_form {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 12px;
    border: none;
    border-left: 1px solid #00bcd4;
    border-bottom: 1px solid #00bcd4;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #0004;
    color: #fff;
}

.input_form::placeholder {
    color: #eee;
}

.input_form:focus {
    border-left: 1px solid #fc0;
    border-bottom: 1px solid #fc0;
    background-color: #000a;
    outline: none;
    transition: all 0.5s ease;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 14px;
    color: #fff;
}

.input_checkbox_form {
    margin-left: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #afecec;
    color: #000c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.8s ease;
}

button:hover {
    background-color: #01796f;
    transform: scale(1.05);
    transition: -5px ;
    box-shadow: 0 0 5px #017961;
}