* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h2_lista {
    font-family: "BBH Sans Bartle", sans-serif;;
    font-size: 40px;
    letter-spacing: 5px;
    padding-top: 4rem;
    text-shadow: 0 0 30px #000f;
    text-align: center;
}

.cards {
    margin: 50px;
    height: 100%;
    background-color: #000a;
}

.ul_juegos {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    padding-bottom: 50px;
}

.li_juegos{
    flex: 0 0 calc(50% - 8px);
    box-sizing: content-box;
    padding: 10px;
    margin: 1.5rem 2.5rem;
    height: 15rem;
    list-style: none;
    text-align: center;
    background-color: #fffacd;
    color: #000c;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.li_juegos:hover {
    background-color: #fa0;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.añadir_juego_lista {
    background-color: #48e;
    height: 5vh;
    width: 20vw;
}