* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor-lista-juegos {
    box-sizing: border-box;
    height: 100%;
    background-color: #000a;
}

.h2_lista {
    font-family: "BBH Sans Bartle", sans-serif;;
    font-size: 40px;
    letter-spacing: 5px;
    padding-top: 4rem;
    text-shadow: 0 0 30px #000f;
    text-align: center;
}