* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h2_lista {
    font-family: "BBH Sans Bartle", sans-serif;;
    font-size: 40px;
    letter-spacing: 5px;
    padding-top: 4rem;
    text-shadow: 0 0 30px #000f;
    text-align: center;
}

.cards {
    margin: 50px;
    height: 100%;
    background-color: #000a;
}

.ul_juegos {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px; 
}

.li_juegos{
    box-sizing: border-box;
    padding: 10px;
    height: 40vh;
    margin: 1.5rem 3rem;
    list-style: none;
    text-align: center;
    background-color: #fffacd;
    color: #000c;
    border-radius: 20px 0;
    transition: all 0.3s ease;
}

.li_juegos:hover {
    background-color: #fa0;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.elementos-card {
    display: block;
    box-sizing: border-box;
}

.portada-juego {
    box-sizing: border-box;
    min-width: 17vw;
    max-width: 17vw;
    min-height: 150px;
    max-height: 150px;
    border-radius: 20px 0;
    background-color: #000;
    color: #fff;
    object-fit: cover;
}