* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h2_lista {
    font-family: "BBH Sans Bartle", sans-serif;;
    font-size: 40px;
    letter-spacing: 5px;
    padding-top: 2.5rem;
    text-shadow: 0 0 30px #000f;
    text-align: center;
}

.cards {
    margin: 50px;
    height: 100vh;
    background-color: #000a;
}

.ul_juegos {
    display: flex;
    width: 100%;
    height: 100%;
}

.li_juegos {
    box-sizing: content-box;
    padding: 10px;
    margin: 2rem 4rem;
    width: 100%;
    height: 15rem;
    list-style: none;
    text-align: center;
    background-color: #fffacd;
    color: #000c;
}