* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    z-index: 1000;
}

.h2_navbar {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    font-size: 1rem;
}

.ul_navbar {
    list-style: none;
}

.li_navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #000e;
    transition: all 1s ease;
    transform: scale(1.03);
}